/**
 * Copyright 2021 Hayden Young. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

:root {
    --md-primary-fg-color:        #10B981;
    --md-primary-fg-color--light: #34D399;
    --md-primary-fg-color--dark:  #059669;
}
